[Unit]
Description=lazymailman
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
WorkingDirectory=/opt/lazymailman
ExecStart=/opt/Channel_Promo_Bot/venv/bin/python /opt/lazymailman/main.py --send-delay 600 --rewriter --log-file logs/mailing.log

[Install]
WantedBy=multi-user.target